.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70vh;
  text-align: center;
  //   overflow-y: hidden !important;
  h3 {
    font-size: 3rem;
  }
  .btn-container {
    display: flex;
    justify-content: center;
    gap: 5rem;
  }
  button {
    font-size: 1.5rem;
    font-weight: 500;
    padding: 1rem 1.5rem;
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
      transform: scale(1.05);
    }
  }
}
